[submodule "alvr"]
	path = alvr
	url = ssh+git://aur@aur.archlinux.org/alvr.git
[submodule "alvr-git"]
	path = alvr-git
	url = ssh+git://aur@aur.archlinux.org/alvr-git.git
[submodule "apriltag-trackers-git"]
	path = apriltag-trackers-git
	url = ssh+git://aur@aur.archlinux.org/apriltag-trackers-git.git
[submodule "alvr-nvidia"]
	path = alvr-nvidia
	url = ssh+git://aur@aur.archlinux.org/alvr-nvidia.git
